<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Logged in successfully</h1>
            <a href="/reset">Reset</a>
            <a href="/signout">sign out</a>
        </div>
    </body>
</html>