<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <form action="/reset/updation" method="post">
                
               <input type="password" placeholder="Please enter your password" id="password" name="password">
               <input type="password" placeholder="confirm password" id="c_password" name="c_password">
               <button type="submit">Reset Password </button>
            </form>
        </div>
    </body>
</html>
