<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <form action="/sign-up/register" method="post">
                <input type="text" placeholder="Please enter your email" id="email" name="email">
                <input type="text" placeholder="Please enter your name" id="name" name="name">
                <input type="password" placeholder="Please enter your password" id="password" name="password">
                <input type="password" placeholder="COnfirm password" id="c_password" name="c_password">
                <button type="submit">Sign up</button>
                
            </form>
        </div>
        <div>
            <a href="/auth/google">Signup/signin via google</a>
        </div>
    </body>
</html>