<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <form action="/sign-in/create-session" method="post">
                <input type="text" placeholder="Please enter your email" id="email" name="email">
               <input type="password" placeholder="Please enter your password" id="password" name="password">
               <button type="submit">Sign In</button>
            </form>
        </div>
    </body>
</html>